<div class="card product-item border-0 mb-4 bg-product">
  <div
    class="card-header product-img position-relative overflow-hidden bg-transparent border p-0"
  >
    <img
      style="width: 500px; height: 250px"
      class="img-fluid img-thumbnail"
      src="{{ data.images[0] }}"
      alt=""
    />
  </div>
  <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
    <h6 class="text-truncate mb-3">{{ data.title }}</h6>
    <div class="d-flex justify-content-center">
      <h6>${{ data.price }}</h6>
    </div>
  </div>
  <div class="card-footer d-flex justify-content-between bg-light border  ">
    <a routerLink="/details/{{ data.id }}" class="btn btn-sm text-dark p-0"
      ><i class="fas fa-eye text-primary mr-1"></i>View Detail</a
    >
    <button class="btn btn-sm text-dark p-0" *ngIf="addButton">
      Add to cart
    </button>
    <div class="d-flex w-50 input-group input-group-sm ">
      <input
        type="number"
        min="0"
        class="form-control"
        [(ngModel)]="amount"
        style="appearance: text;"
      />
      <button
        class="btn btn-sm text-dark pl-3"
        (click)="emitTheCurrentProduct()"
      >
        Add <i class="fas fa-shopping-cart text-primary mr-1"></i>
      </button>
    </div>
  </div>
</div>
